body {
    background-color: beige;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

.text-content {
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 0.8px;
}

.center {
    text-align: center;
}

h1.page-title {
    background-color:rgb(241, 235, 228);
    color:coral;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 65px;
    font-weight: 700;
}

li.recipe-list-item {
    font-size: 25px;
    margin: 8px 0;
    list-style: none;
}

li.recipe-list-item.odd > a {
    color: blueviolet;
    background-color: gold;
    padding: 5px;
    display: inline-block;
}

li.recipe-list-item.even > a {
    color: gold;
    background-color: blueviolet;
    padding: 5px;
    display: inline-block;
}

a {
    color: inherit;
}

img {
    text-align: center;
    height: auto;
    width: 600px;
    display: block;
    margin: 0 auto;
}

h3 {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
    color:rgb(221, 131, 4);
    font-size: 35px;
}

h4 {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
    color:rgb(221, 131, 4);
    font-size: 30px;
    margin-bottom: 5px;
}

cite {
    color:rgb(214, 7, 166);
    background-color: blanchedalmond;
}

h5 {
    color: darkmagenta;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
}