body {
    background-color: beige;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

.text-content {
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 0.8px;
}

.center {
    text-align: center;
}

h1.page-title {
    background-color:rgb(241, 235, 228);
    color:coral;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 65px;
    font-weight: 700;
    display: inline;
    line-height: 2;
}

li.recipe-list-item {
    display: inline;
    font-size: 25px;
    line-height: 1.6;
    padding: 5px 0;
}

li.recipe-list-item.odd {
    color: blueviolet;
    background-color: gold;
}

li.recipe-list-item.even {
    color: gold;
    background-color: blueviolet;
}

a {
    color: inherit;
}

img {
    text-align: center;
    line-height: 2;
    height: auto;
    width: 600px;
}

h3 {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
    display: inline;
    color:rgb(221, 131, 4);
    font-size: 35px;
    line-height: 2;
}

h4 {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
    display: inline;
    color:rgb(221, 131, 4);
    font-size: 30px;
    line-height: 2;
}

cite {
    display: inline;
    color:rgb(214, 7, 166);
    background-color: blanchedalmond;
}

h5 {
    display: inline;
    color: darkmagenta;
    font-weight: 600;
    font-size: 25px;
}