body {
    background-color: beige;
}

.center {
    text-align: center;
}

h1.page-title {
    background-color:rgb(241, 235, 228);
    color:coral;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 65px;
    font-weight: 700;
    display: inline;
}

li.recipe-list-item {
    display: inline;
    font-size: 25px;
    line-height: 1.6;
    padding: 5px 0;
}

li.recipe-list-item.odd {
    color: blueviolet;
    background-color: gold;
}

li.recipe-list-item.even {
    color: gold;
    background-color: blueviolet;
}

a {
    color: inherit;
}